.onLoad {
    background: linear-gradient(to bottom, #{fade-out($brown, .2)} 0%,#{fade-out($brown, .2)} 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    color: linear-gradient(to bottom, #{fade-out($brown, .2)} 0%,#{fade-out($brown, .2)} 100%);

    .spinner {
        width: 40px;
        height: 40px;
        margin: 45vh auto;
        background-color: $orange;
      
        border-radius: 100%;  
        animation: sk-scaleout 1.0s infinite ease-in-out;
      }
      
      
      @keyframes sk-scaleout {
        0% { 
          transform: scale(0);
        } 100% {
          transform: scale(1.0);
          opacity: 0;
        }
      }
    
}



.photosList {
    
    padding: 75px;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: linear-gradient(to bottom, #{fade-out($brown, .2)} 0%,#{fade-out($brown, .2)} 100%);
    
    
    li.singlePhoto {
      list-style: none;
      display: flex;

        .container {
          width: 700px;
          height: 500px;
          vertical-align: middle;
          text-align: center;
          display: table-cell;

          img {
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin: 0 auto;
          }
        }

      
    }

    .awesomeIcon2 {
      position: fixed;
      top: 50px;
      right: 30px;
      background: none;
      border: none;
      color: $orange;
      font-size: 25px;
    }

    .awesomeIcon1 {
      background: none;
      border: none;
      color: $orange;
      font-size: 25px;
      margin: 30px;
    }
}

.gallery {
    opacity: 1;
	  animation-name: fadeInOpacity;
	  animation-iteration-count: 1;
	  animation-timing-function: ease-in;
    animation-duration: 1s;
    position: absolute;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}